# Python

## Data type

### String

In [52]:
# str use for character
x = "Hello World"
print(x)
print(type(x))

Hello World
<class 'str'>

### Integer

In [53]:
# int use for whole number
x = 10
print(x)
print(type(x))

10
<class 'int'>

### Floating

In [54]:
# float use for decimal number
x = 10.5
print(x)
print(type(x))

10.5
<class 'float'>

### Boolean

In [55]:
# bool use for True False
x = True
y = False
print(x, y)
print(type(x))

True False
<class 'bool'>

### List

In [56]:
# list use to collect items
x = ["Banana", 20, 34.33, True]
print(x)
print(type(x))

['Banana', 20, 34.33, True]
<class 'list'>

### Tuple

In [57]:
# tuple use to collect items

x = ("Banana", 20, 23.44, False)
print(x)
print(type(x))

('Banana', 20, 23.44, False)
<class 'tuple'>

### Dictionary

In [58]:
day = {"Mon": "Monday", 
       "Tue": "Tuesday", 
       "Wed": "Wednesday", 
       "Thu": "Thuesday", 
       "Fri": "Friday", 
       "Sat": "Saturday", 
       "Sun": "Sunday"}
print(day["Mon"])
print(day["Thu"])

Monday
Thuesday

In [59]:
# Dictionary used to store data values in key:value pairs
x = {"name": "Philip", "age": 20, "major": "IT"}
print(x)
print(type(x))

{'name': 'Philip', 'age': 20, 'major': 'IT'}
<class 'dict'>

## Working with Srting

In [60]:
print ("Kridsadee Imarom")

Kridsadee Imarom

In [61]:
print("Kridsadee Imarom")
print("----------------------------------------")
print("Kridsadee\nImarom")
print("----------------------------------------")
print("Kridsadee\'s phone")
print("----------------------------------------")
print("Kridsadee\\ Imarom")
print("----------------------------------------")
print("Kridsadee\t Imarom\t Philip\t New")

Kridsadee Imarom
----------------------------------------
Kridsadee
Imarom
----------------------------------------
Kridsadee's phone
----------------------------------------
Kridsadee\ Imarom
----------------------------------------
Kridsadee	 Imarom	 Philip	 New

In [62]:
Name = "Kridsadee Imarom"
print(Name)

Kridsadee Imarom

In [63]:
print(Name + "is cool")

Kridsadee Imaromis cool

### Lower case and Upper cae

In [64]:
# Make the character to lower case
print(Name.lower())

kridsadee imarom

In [65]:
# Make the character to upper case
print(Name.upper())

KRIDSADEE IMAROM

In [66]:
# Check the character inside the Nmae is upper case or not
print(Name.isupper())

False

In [67]:
# When you use this the system will run is first print(Name.upper()) that why it comes True
print(Name.upper().isupper())

True

### len

In [68]:
# Use for count character inside Name
print(len(Name))

16

### index

In [69]:
# Get the first character
print(Name[0])

K

In [71]:
# Get the first character to fourth character
print(Name[0:4])

Krid

In [72]:
# Find the position of "K"
print(Name.index("K"))

0

### replace

In [73]:
print(Name.replace("Phattaraya", "Imarom"))
print(Name.replace("Kridsadee", "Phattaraya"))

Kridsadee Imarom
Phattaraya Imarom

The reason the first print statement doesn't replace "Kridsadee" with "Phattaraya" is that the original string, Name, does not contain the substring "Phattaraya". The replace() method in Python searches for a specified substring within a string and replaces it with another specified value.

In your example, the Name variable is assigned the value "Kridsadee Imarom". When you call Name.replace("Phattaraya", "Imarom"), it attempts to find the substring "Phattaraya" within Name and replace it with "Imarom". However, since "Phattaraya" is not present in the original string, the replace() method doesn't make any changes, and the output remains "Kridsadee Imarom".

On the other hand, when you call Name.replace("Kridsadee", "Phattaraya"), it successfully finds the substring "Kridsadee" within Name and replaces it with "Phattaraya". Thus, the output of that print statement would be "Phattaraya Imarom".

## Working with Number

In [74]:
Num = 20

In [75]:
# If you run this you will get error, you have to convert number to string
#print("This is my num " + Num)

In [76]:
print("This is my num " + str(Num))

This is my num 20

In [77]:
print(2 + 6)
print(2 - 6)
print(2 * 6)
print(2 / 6)

8
-4
12
0.3333333333333333

In [78]:
# Show the absolute value 
Num = -5
print(abs(Num))

5

In [79]:
num1 = 3
num2 = 2

In [80]:
# num1 to power of num2
print(pow(num1, num2))

9

In [81]:
print(max(num1, num2))

3

In [82]:
print(min(num1, num2))

2

In [83]:
# Rounds up or down depending on the value of the fraction
print(round(3.7))
print(round(3.4))

4
3

In [84]:
# Import Python math function 
from math import *

In [85]:
# Rounds up regardlless of the value of the fraction
print(ceil(3.6))
print(ceil(3.4))

4
4

In [86]:
#Rounds down regardlless of the value of the fraction
print(floor(3.6))
print(floor(3.4))

3
3

In [87]:
# Return the square root of a number
print(sqrt(num1))

1.7320508075688772

In [144]:
name = input(" Enter your name")
age = input(" Enter your age")
print("Hello " + name + "!\n Your are " + age)

 Enter your namePhilip
 Enter your age23
Hello Philip!
 Your are 23

#### Basic Calculator

In [88]:
num1 = int(input("Enter Number"))
num2 = int(input("Enter Number"))
result = num1 + num2
print(result)

Enter Number2
Enter Number2
4

### Mad Libs Game

Once upon a time in a___1____nestled by a sparkling river, 
there lived a___2___named Lily. 
She had a wild___3___and a heart full of adventure. 
Every day, she would explore the enchanted___4___that surrounded her___5___, seeking hidden___6___and magical___7___.

In [93]:
ans1 = input("Enter answer 1: ")
ans2 = input("Enter answer 2: ")
ans3 = input("Enter answer 3: ")
ans4 = input("Enter answer 4: ")
ans5 = input("Enter answer 5: ")
ans6 = input("Enter answer 6: ")
ans7 = input("Enter answer 7: ")

print("Once upon a time in a " + ans1 + " nestled by a sparkling river, there lived a " 
      + ans2 + " named Lily. She had a wild " + ans3 + 
      " and a heart full of adventure. Every day, she would explore the enchanted " 
      + ans4 + " that surrounded her " + ans5 + " , seeking hidden " + ans6 + " and magical " + ans7)

Enter answer 1: answer
Enter answer 2: answer
Enter answer 3: answer
Enter answer 4: answer
Enter answer 5: answer
Enter answer 6: answer
Enter answer 7: answer
Once upon a time in a answer nestled by a sparkling river, there lived a answer named Lily. She had a wild answer and a heart full of adventure. Every day, she would explore the enchanted answer that surrounded her answer , seeking hidden answer and magical answer

## List

In [94]:
friends = ["Philip", "May", "Jaja" , "Mac"]
# index       0        1      2        3
# - index    -4       -3     -2       -1

In [95]:
print(friends[2])

Jaja

In [96]:
print(friends[-3])

May

In [97]:
print(friends[1:3])

['May', 'Jaja']

In [98]:
lucky_numbers = [2, 4, 6, 8, 10, 12, 14]
friends = ["Philip", "Fourth", "May", "Jaja" , "Mac", "Cake"]

#### len

In [99]:
# Count have many value in the lsit
print(len(friends))

6

##### extend

In [100]:
# Add two list togeter
friends.extend(lucky_numbers)
print(friends)

['Philip', 'Fourth', 'May', 'Jaja', 'Mac', 'Cake', 2, 4, 6, 8, 10, 12, 14]

In [101]:
lucky_numbers = [2, 4, 6, 8, 10, 12, 14]
friends = ["Philip", "Fourth", "May", "Jaja" , "Mac", "Cake"]

#### append

In [102]:
# Add the value in the end of the list
friends.append("Nice")
print(friends)

['Philip', 'Fourth', 'May', 'Jaja', 'Mac', 'Cake', 'Nice']

#### insert

In [103]:
# Add the value on the position you want by set the index
friends.insert(2, "Fon")
print(friends)

['Philip', 'Fourth', 'Fon', 'May', 'Jaja', 'Mac', 'Cake', 'Nice']

#### remove

In [104]:
# Remove the value
friends.remove("Fon")
print(friends)

['Philip', 'Fourth', 'May', 'Jaja', 'Mac', 'Cake', 'Nice']

####  clear

In [105]:
# Remove all the value in the list
friends.clear()
print(friends)

[]

In [106]:
lucky_numbers = [2, 12, 4, 8, 0, 6, 10]
friends = ["Philip", "Fourth", "May", "Jaja" , "Mac", "Cake"]

#### pop

In [107]:
# Remove the value of the last element
friends.pop()
print(friends)

['Philip', 'Fourth', 'May', 'Jaja', 'Mac']

#### index

In [108]:
# Search the index of value in the list also check if there is the value in the list
print(friends.index("May"))

2

#### count

In [109]:
# Show how many that value in the list
print(friends.count("Philip"))

1

##### in

In [110]:
# check that value in the list
print("Philip" in friends)
print("Kaka" in friends)

True
False

#### sort

In [111]:
# use to sort the alphabet or numbers
friends.sort()
lucky_numbers.sort()
print(friends)
print(lucky_numbers)

['Fourth', 'Jaja', 'Mac', 'May', 'Philip']
[0, 2, 4, 6, 8, 10, 12]

#### reverse

In [112]:
# use to reverse the alphabet or numbers
friends.reverse()
lucky_numbers.reverse()
print(friends)
print(lucky_numbers)

['Philip', 'May', 'Mac', 'Jaja', 'Fourth']
[12, 10, 8, 6, 4, 2, 0]

#### copy

In [113]:
# Use to copy the list
friends2 = lucky_numbers.copy()
print(friends2)

[12, 10, 8, 6, 4, 2, 0]

## Tople

###### In the tople you can not "change" "add" "remove" the value

In [114]:
lucky_numbers = (2, 12, 4, 8, 0, 6, 10)
friends = ("Philip", "Fourth", "May", "Jaja" , "Mac", "Cake")

##### len

In [115]:
# count how many value in the tuple
print(len(friends))

6

##### index

In [116]:
print(friends[0])

Philip

### +

In [117]:
# add two tuple togeter
add = friends + lucky_numbers
print(add)

('Philip', 'Fourth', 'May', 'Jaja', 'Mac', 'Cake', 2, 12, 4, 8, 0, 6, 10)

##### in

In [118]:
# chack if there is that value in the tuple
print("Philip" in friends)
print("Kaka" in friends)

True
False

## Function

In [119]:
def say_hi():
    print("Hello")
    
say_hi()

Hello

In [120]:
def say_hi(name):
    print("Hello " + name)
    
say_hi("Philip")
say_hi("Cake")

Hello Philip
Hello Cake

In [121]:
def say_hi(name, age, major):
    print("Hello " + name + ", you are " + str(age) + " and your major is " + major)

say_hi("Philip", 23, "IT")
say_hi("Cake", 22, "IBM")

Hello Philip, you are 23 and your major is IT
Hello Cake, you are 22 and your major is IBM

## Return

In [122]:
def cube(num):
    return num*num*num
    
cube(3)

27

## If statement

###### I wake up If I'm hungry I eat breakfast

In [123]:
def hungry(is_hungry):
    print("I wake up")
    if is_hungry:
        print("I eat breakfast")

hungry(True)

I wake up
I eat breakfast

###### I leave my house if it's cloudy I bring an umbrella otherwise I bring sunglasses

In [124]:
def cloudy(is_cloudy):
    print("I leave my house")
    if is_cloudy:
        print("I bring an umbrella")
    else:
        print("I bring sunglasses")
        
cloudy(True)
print()
cloudy(False)

I leave my house
I bring an umbrella

I leave my house
I bring sunglasses

###### I'm at a restaurant if I want meat I order a steak otherwise if I want pasta I order spaghtti & meatballs otherwise I order a salad

In [125]:
def food(is_meat, is_pasta):
    print("I'm at a restaurant")
    if is_meat:
        print("I order a steak")
    elif is_pasta:
        print("I order spaghtti & meatballs")
    elif is_meat and is_pasta:
        print("I order a steak, spaghtti & meatballs ")
    else:
        print("I order a salad")

food(True, False)
print()
food(True, True)
print()
food(False, True)
print()
food(False, False)

I'm at a restaurant
I order a steak

I'm at a restaurant
I order a steak

I'm at a restaurant
I order spaghtti & meatballs

I'm at a restaurant
I order a salad

##### If statements and comparisons

###### "Print" version of the code uses print statements inside the function to directly output the maximum number. This approach is suitable if you only need to display the result on the console and don't intend to use the maximum value in further calculations or operations.

In [126]:
def max_num(num1, num2, num3):
    if num1 >= num2 and num1 >= num3:
        print(num1)
    elif num2 >= num1 and num2 >= num3:
        print(num2)
    else:
        print(num3)
        
max_num(12,23,30)
print()
max_num(60,40,30)
print()
max_num(32,80,30)

30

60

80

###### "Return" version of the code uses return statements to return the maximum number as a result from the function. This allows the maximum value to be assigned to a variable, used in mathematical expressions, or passed as an argument to another function.

In [149]:
def max_num(num1, num2, num3):
    if num1 >= num2 and num1 >= num3:
        return num1
    elif num2 >= num1 and num2 >= num3:
        return num2
    else:
        return num3
        
print(max_num(12,23,30))
print()
print(max_num(60,40,30))
print()
print(max_num(32,80,30))

30

60

80

In [153]:
def multiply_max(num1, num2, num3):
    max_number = max_num(num1, num2, num3)
    result = max_number * 2
    return result

print(multiply_max(12, 23, 30))
print(multiply_max(60, 40, 30))
print(multiply_max(32, 80, 30))

60
120
160

### Better calculator

In [128]:
num1 = int(input("Enter Number1:"))
op = input("Enter operator")
num2 = int(input("Enter Number2:"))

if op == "+":
    print(num1 + num2)
elif op == "-":
    print(num1 - num2)
elif op == "*":
    print(num1 * num2)
elif op == "/":
    print(num1 / num2)
else:
    print("You put the wroung operator")

Enter Number1:5
Enter operator*
Enter Number2:5
25

## While loop

In [129]:
i = 1
while i <= 5:
    print(i, "Hi")
    i += 1
print("Done with loop")

1 Hi
2 Hi
3 Hi
4 Hi
5 Hi
Done with loop

### Building Guessing Game

###### set the secret word and define guess for the input from user. Make the loop for user enter the word until correct

In [130]:
secret_word = "giraffe"
guess = ""

while guess != secret_word:
    guess = input("Enter guess:")
print("You win!!")

Enter guess:asd
Enter guess:asd
Enter guess:asd
Enter guess:asd
Enter guess:asd
Enter guess:gifaffe
Enter guess:giraffe
You win!!

###### set the limit of guess

In [131]:
secret_word = "giraffe"
guess = ""
guess_count = 0
guess_limit = 3
out_of_guesses = False

while guess != secret_word and not(out_of_guesses):
    if guess_count < guess_limit:
        guess = input("Enter guess:")
        guess_count += 1
    else:
        out_of_guesses = True
if out_of_guesses:
    print("Out of Guesses, YOU LOSE!!")
else:
    print("You win!!")

Enter guess:sdf
Enter guess:sdf
Enter guess:sdf
Out of Guesses, YOU LOSE!!

In [132]:
secret_word = "giraffe"
guess = ""
guess_count = 0
guess_limit = 3
out_of_guesses = False

while guess != secret_word and not(out_of_guesses):
    if guess_count < guess_limit:
        guess = input("Enter guess:")
        guess_count += 1
    else:
        out_of_guesses = True
if out_of_guesses:
    print("Out of Guesses, YOU LOSE!!")
else:
    print("You win!!")

Enter guess:asdasd
Enter guess:giraffe
You win!!

## For loop

In [133]:
for letter in "Philip":
    print(letter)

P
h
i
l
i
p

In [135]:
friends = ["Philip", "Fourth", "May", "Jaja" , "Mac", "Cake"]
for name in friends:
    print(name)

Philip
Fourth
May
Jaja
Mac
Cake

In [137]:
for index in range(5):
    print(index)

0
1
2
3
4

In [141]:
for index in range(len(friends)):
    print(friends[index])
    #print(friends[0])
    #print(friends[1])
    #print(friends[2])...

Philip
Fourth
May
Jaja
Mac
Cake

In [142]:
for index in range(5):
    if index == 0:
        print("First Interation")
    else:
        print("Not First")

First Interation
Not First
Not First
Not First
Not First

## Exponent Function

In [4]:
def number(base_num, pow_num):
    result = 1
    for index in range(pow_num):
        result = result * base_num
    return result
print(number(2,4))

16

## 2D List

In [5]:
number = [
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [10]
]

print(number)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [7]:
# print(number[row][column])
print(number[2][1])

8

In [9]:
for row in number:
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[10]

In [10]:
for row in number:
    for col in row:
        print(col)

1
2
3
4
5
6
7
8
9
10

## Build a Translator

In [20]:
def translate(phrase):
    translation = ""
    for letter in phrase:
        if letter in "AEIOUaeiou":
            translation = translation + "g"
        else:
            translation = translation + letter
    return translation
print(translate(input("Enter your phrase: ")))

Enter your phrase: On the way
gn thg wgy

##### Upgrade this function

In [1]:
def translate(phrase):
    translation = ""
    for letter in phrase:
        if letter.lower() in "aeiou":
            if letter.isupper():
                translation = translation + "G"
            else:
                translation = translation + "g"
        else:
            translation = translation + letter
    return translation
print(translate(input("Enter your phrase: ")))

## Try Eceps

In [2]:
number = int(input("Enter a number: "))
print(number)